site_name: Anison
site_url: https://kevincho26.github.io/Anison/
use_directory_urls: true

theme:
  name: material
  custom_dir: overrides
  font: false
  favicon: assets/icons/favicon.ico
  logo: assets/icons/icon-192.png

  palette:
    - scheme: default
      primary: white
      accent: custom
      toggle:
        icon: material/weather-night
        name: Dark mode
    - scheme: slate
      primary: black
      accent: custom
      toggle:
        icon: material/weather-sunny
        name: Light mode

  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.indexes
    - navigation.sections
    - navigation.top
    - toc.follow
    - search.suggest
    - search.highlight
    - search.share

plugins:
  - search
  - awesome-pages

markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details
  - toc:
      permalink: false
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/open_az_details.js
  - javascripts/az_nav.js
  - javascripts/header_title_page.js
  - javascripts/search_thumbs.js
